# Midterm 2 coding Questions Total : 60 
### 50 minute
### Name- Ryan Fox
After complition submit it on Moodle using `GitHub` with in the assigned time

### Question 1. Print all of the numbers between 1 to 10 and square each numbers and append those to a new list
- 5 points

In [1]:
squares=[]
for number in range(1,11):
    print(number)
    squares.append(number**2)
print(squares)

1
2
3
4
5
6
7
8
9
10
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Question 2. Create a list of 10 random numbers and find out minimum , maximum and total of teh list.
* 5 + 3 = 8 points

In [7]:
import random
rand_list=[]
for i in range(10):
    rand_list.append(random.randint(0,100))
print(rand_list)

[6, 21, 45, 14, 96, 46, 32, 15, 2, 63]

In [8]:
min(rand_list)

2

In [9]:
max(rand_list)

96

In [10]:
sum(rand_list)

340

### Question 3. Print `day` and `300` from the new_list
new_list= [10, ['new', 300, [[3.141, 20],  345 ]], 'day' ]
* 3 + 3 = 6 points

In [12]:
new_list= [10, ['new', 300, [[3.141, 20], 345 ]], 'day' ]

In [13]:
new_list[2]

'day'

In [15]:
new_list[1][1]

300

### Question 4.  College=("Bellarmine", "2001 Neuburg RD")
Print the `name` of the College.
* 5 points

In [18]:
College=("Bellarmine", "2001 Neuburg RD")

In [21]:
name,address=College

In [22]:
print(name)

Bellarmine

### Question 5. In the United States as of 1995, minor is generally legally defined as a person under the age of 18. Write a code to check a student is minor or not. Verify the code by user input
* 6 points

In [25]:
Age=int(input("Enter your age: "))
if Age >=18:
    print ("This person is not a minor")
else:
    print("This person is a minor")

Enter your age: 13
This person is a minor

### Question 6. Get an input from user and check whether the number is `odd` and `greater than 10`. If not then comment
* 5 points

In [27]:
number=int(input('Please enter a number: '))
if number > 10:
    if number %2==1:
        print("This number is odd and above 10")
else: 
    print("This number is either not odd or not above 10")

Please enter a number: 13
This number is odd and above 10

### Question 7. Get a user input and check the given number is multiple of 11 or not
* 5 points

In [30]:
number2=int(input("Enter a number: "))
if number2 %11==0:
    print("This number is a multiple of 11")
else:
    print("This number is not a multiple of 11")

Enter a number: 52
This number is not a multiple of 11

### Question 8. Convert the lists to dictionary
* keys =  [10, 20, 30]
* values =['Ten', 'Twenty', 'Thirty']
* 4 points

In [32]:
keys = [10, 20, 30]
values =['Ten', 'Twenty', 'Thirty']

In [35]:
dict1=dict(zip(keys,values))
print(dict1)

{10: 'Ten', 20: 'Twenty', 30: 'Thirty'}

### Question 9. Write a function that can take `any arbitary numbers` as inputs and calculate the maximum of them. Check the function for two sets of inputs.
* 2+2 points

In [36]:
def maximum(num1,num2):
        print(f"Maximum= {max(num1,num2)}")

In [37]:
maximum(13,82)

Maximum= 82

In [38]:
maximum(99,1)

Maximum= 99

### Question 10. Write functions to find out Area and Perimeter of a square. Check the result for side = 10.

* 3+3 points

In [41]:
def area_square(side):
    return side**2 
def peri_square(side):
    return (side*2)+(side*2)
side=int(input("Enter the side value: "))
print("Area: ", area_square(side))
print("Perimeter:", peri_square(side))

Enter the side value: 10
Area:  100
Perimeter: 40

### Question 11. Write down two program using while and for loop that prints all of the number from 10 to 20 (included) 
* 3+3 points

In [42]:
for i in range(10,21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [63]:
num = 10
while num >9 and num <21:
    print(num)
    num += 1

10
11
12
13
14
15
16
17
18
19
20